@use '../../styles/partials/global.scss' as *;


.chat{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container{
        display: flex;
        align-items: center;
        
    }

    &__arrow{
        position: relative;
        right: 4rem;
    }
    &__title{
        font-family: "Chewy";
        font-size: 1rem;
        padding: 1rem 0 1rem 0;
    }
    &__messages{
        overflow-y: auto;
        width: 90%;
        border-radius: 0.75rem;
    
    }
    &__message{
        padding: 0.5rem 1rem;
        background-color: $woofblue;
        margin: 1rem;
        border-radius: 1rem; 
        font-family: "Chewy";
        
    }
    &__form{
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0.5rem 0;
        gap: 0.5rem;
        background-color: #0096FF;
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
    }

    &__input{
        height: 2rem;  
        width: 70vw;
        padding-left: 0.5rem;
        border-radius: 0.75rem;
        border: none;
    }

    &__btn{
        width: 20vw;
        border-radius: 0.75rem;
        border: none;
        background-color: white;
        font-family: "Chewy";
        color: $woofblue;
    }


}