@use '../../styles/partials/global.scss' as *;

.profile-card{
    color: $woofwhite;
    display: flex;
    margin: auto;
    // border: 3px solid $woofblue;
    background-color: $woofblue;
    width: 90%;
    border-radius: 1rem;
    font-size: 0.8rem;
    font-family: "Chewy";
    &:hover{
        // background-color: #9EB0BE;
        border: 3px solid #9EB0BE;
    }

    @include tablet{
        flex-direction: column;
        width: 20%;
        margin: 0.5rem;
    }

    @include desktop{
        width: 20%;
        align-items: center;
    }

    &__left{
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        align-items: center;
    }

    &__right{
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        font-size: 0.7rem;
        gap: 0.4rem;
        @include tablet{
            font-size: 0.8rem;
        }

        @include desktop{
            font-size: 1rem;
            align-items: center;
        }
        
    }

    &__container{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @include tablet{
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0;
            justify-content: center;
        }
    }

    &__photo{
        width: 8rem;
        height: 7rem;
        border-radius: 1rem;
        // padding-bottom: 0.5rem;
        border: 3px solid $woofwhite;
        margin-bottom: 0.5rem;
    }
}