@use '../../styles/partials/global.scss' as *;

.sign-up{
    color: white;
    font-family: "Chewy";
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 0.8rem;
    width: 80%;
    padding-top: 2rem;

    &__title{
        text-align: left;
        padding-bottom: 1rem;
    }

    &__dropdown{
        margin: 0.5rem 0 2rem 0;
        padding: 0.25rem;
        background-color: white;
        font-family: "Chewy";
        border-radius: 0.5rem;
    }

    &__photo{
        padding-bottom: 1rem;
        font-family: 'Chewy';
    }
}