@use '../../styles/partials/global.scss' as *;

.input-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    &__input--primary{
        padding: 0.5rem;
        border-radius: 0.75rem;
        border: none;
        width: 12rem;
        margin-top: 1rem;
        font-family: "Chewy";
    }

    &__input--secondary{
        font-family: "Chewy";
        width: 55%;
        border: none;
        padding: 0.25rem;
        border-radius: 0.5rem;
        margin: 0.5rem 0;
    }

}