@use '../../styles/partials/global.scss' as *;

.input-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    
    @include desktop{
        font-size: 1.3rem;
    }

    &__input--primary{
        padding: 0.5rem;
        border-radius: 0.75rem;
        border: none;
        width: 12rem;
        margin-top: 1rem;
        font-family: "Chewy";
    }

    &__input--secondary{
        font-family: "Chewy";
        width: 95%;
        border: 2px solid $woofgrey;
        padding: 0.25rem;
        border-radius: 0.5rem;
        margin: 0.5rem 0;

        @include desktop{
            font-size: 1.3rem;
            
        }
        
    }

    &__input--tertiary{
        font-family: "Chewy";
        width: 95%;
        border: 2px solid $woofgrey;
        padding: 0.25rem;
        border-radius: 0.5rem;
        margin: 0.5rem 0;

        @include desktop{
            font-size: 1.6rem;   
        }
        
    }

}