@use '../../styles/partials/global.scss' as *;


.profile-page{
    font-family: "Chewy";
    color: $woofgrey;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;   
    padding-top: 2rem;

    &__edit{
        @include tablet{
            display: flex;
            justify-content: space-evenly;
        }
    }

    &__section{
        border: 3px solid $woofgrey;
        border-radius: 1rem;
        padding: 0.5rem;
        background-color: $woofblue;
        font-size: 0.8rem;
        margin: 1.5rem 0;

        @include tablet{
            width: 40%;
        }

        @include desktop{
            padding: 1.5rem;
        }
    }

    &__section-title{
        text-decoration: underline 2px;
        padding-bottom: 0.5rem;

        @include desktop{
            font-size: 1.85rem;
        }
    }

    &__photos{
        display: flex;
    }

    // &__dog{
    //     border: 3px solid $woofgrey;
    //     border-radius: 1rem;
    //     padding: 0.5rem;
    //     background-color: $woofblue;
    //     font-size: 0.8rem;
    //     margin: 1.5rem 0;
    // }

}

.toy-1{
    display: none;
    @include tablet{
        display: block;
        position: relative;
        height: 20rem;
        bottom: 6rem;
        z-index: -1;
    }
}
.toy-2{
    display: none;
    @include tablet{
        display: block;
        position: relative;
        height: 20rem;
        transform: scaleX(-1);
        z-index: -1;
        left: 8rem;
        bottom: 31rem;
    }
    @include desktop{
        left: 20rem;
        bottom: 42rem;
    }
}