@use '../../styles/partials/global.scss' as *;

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    font-size: 0.8rem;
    &__logo{
        color: white;
        margin-left: 1rem;
        font-family: "Chewy";
    }

    &__font{
        font-family: "Moo lah lah";
    }
}