@use '../../styles/partials/global.scss' as *;

.login{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    font-family: "Chewy";

    &__title{
        font-size: 1.2rem;
        padding: 2rem;
        text-align: center;
        font-weight: 100;
        // font-size: 2rem;
        // padding: 4rem;
    }

    &__information{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 2rem;
        // gap: 10rem;
        // padding-bottom: 4rem;
    }

    &__field{
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    &__label{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        
    }

    &__input{
        padding: 0.5rem;
        border-radius: 0.75rem;
        border: none;
        width: 12rem;
        margin-top: 1rem;
        font-family: "Chewy";
    }

    &__forgot{
        display: flex;
        gap: 10rem;
        padding-bottom: 3rem;
        
    }
}