@use '../../styles/partials/global.scss' as *;

.login{
    color: $woofgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    font-family: "Chewy";

    @include tablet{
        padding-top: 5rem;
    }


    &__title{
        font-size: 1.2rem;
        padding: 2rem;
        text-align: center;
        font-weight: 100;

        @include tablet{
            font-size: 1.5rem;
        }

        @include desktop{
            font-size: 2.2rem;
        }

    }

    &__information{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 2rem;

    }

    &__field{
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    &__label{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        
    }

    &__input{
        padding: 0.5rem;
        border-radius: 0.75rem;
        border: none;
        width: 12rem;
        margin-top: 1rem;
        font-family: "Chewy";
    }

    &__forgot{
        display: flex;
        gap: 10rem;
        padding-bottom: 3rem;
        
    }
}

.bone_one{
    display: none;
    @include tablet{
        display: block;
        position: relative;
        overflow: hidden;
        right: 19rem;
        bottom: 15rem;
    }

}
.bone_two{

    display: none;

    @include tablet{
        display: block;
        position: relative;
        overflow: hidden;
        transform: scaleX(-1);
        bottom: 73rem;
        left: 50rem;
    }

}

.login-page{
    overflow: hidden;
}

// .no-scroll {
//     overflow: hidden;
//   }

