@use '../../styles/partials/global.scss' as *;


.welcome-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    &__title{
        color: white;
        font-size: 1.75rem;
        padding-top: 10rem;
        font-family: "Chewy";
        &--woof{
            font-family: "Moo Lah Lah";
        }

        @include tablet{
            font-size: 3rem;
        }

        @include desktop{
            font-size: 5rem;
        }
 


    }

    &__btns{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        @include tablet{
            flex-direction: row;
            gap: 1.5rem;
        }
    }
}
