.welcome-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title{
        color: white;
        padding-top: 35rem;
        padding-bottom: 10rem;
        font-size: 5rem;
    }

    &__btns{
        display: flex;
        gap: 5rem;
    }
}
