@use '../../styles/partials/global.scss' as *;

.menu-tab{
    // background-color: white;
    height: 5rem;
    width: 100%;
    font-family: "Chewy";
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.25rem;

    &__options{
        text-decoration: none;
        color: $white;
        padding-right: 1rem;
    }
 
}